@font-face {
   font-family: 'dosis.extrabold';
   font-display: swap;
   src: url('file:///C:/Users/xmisko06/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-05-27_193513/fonts/dosis.extrabold/font.ttf');
}
